<h1>List of Superpowers</h1>

<div class="cards">
  <% @superpowers.each do |superpower| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      <%= superpower.name %>
      <%= superpower.category.capitalize %>
      <%= superpower.price_per_day %>
    </div>
  <% end %>
</div>
