 <%# will be changed later, just need to put something here %>

<div class="card-product">
  <img src="https://tinyurl.com/all-white " />
  <div class="card-product-infos">
    <h1><%= @superpower.name %></h1>
    <h2><%= @superpower.category %></h2>
    <p><%= @superpower.description %></p>
    <p><strong>$<%= @superpower.price_per_day %></strong></p>
  </div>
</div>
