// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom CSS, main colors
$dark-red: #780116;
$dirty-yellow: #F7B538;
$dirty-orange: #DB7C26;
$dark-orange: #D8572A;
$dirty-red: #C32F27;

// Custom Category Card Colors
$transformation: #6a994e;
$superhuman: #2a9d8f;
$elemental:#5f0f40;
$imperceptible: #780116;
$others: #e29578;

// $imperceptible: #fb8500;

$muddy-font: #44371D;
