// This file can be used to fix values, such as specific dimensions, that will stay the same across the whole project

$navbar-height: 74px;

.navbar-spacer {
  height: $navbar-height;
}

.container {
  width: 1200px;
  margin: 10px auto;
}

body {
  background-color: $background-beige;
}

a {
  text-decoration: none;
}

h1 {
  margin: 25px;
  text-align: center;
  color: black;
}
