<div class="container">
  <%= render "form_booking", superpower: @superpower, booking: @booking %>

  <%= link_to(superpower_path(@superpower), class: "form-bottom-link") do %>
    Back
  <% end %>
</div>
