.btn-flat {
  text-decoration: none;
  color: white;
}

.btn-flat:hover {
  text-decoration: none;
  color: black;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: white;
}


.card-trip .card-trip-infos {
  padding: 16px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: white;
}



.card-product {
  font-family: $body-font;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product h2 {
  font-size: 1px;
  font-weight: lighter;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.transformation {
  background: $transformation;
}

.others {
  background: $others;
}

.superhuman {
  background: $superhuman;
}

.elemental {
  background: $elemental;
}

.imperceptible {
  background: $imperceptible;
}
