// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";

h1 {
  margin: 25px;
  text-align: center;
  color: black;
}

body {
  background-color: #e78e3a;
}
