.superpowers-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.superpowers-product-card {
  height: 150px;
  display: flex;
  font-family: $body-font;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  p {
    margin: 5px;
  }

  .superpower-category {
    font-size: 15px;
  }

  .superpower-price {
    font-size: 12px;
  }
}

.image-card {
  height: 100%;
  width: 150px;
  object-fit: cover;

  img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

#space-between {
  margin-bottom: 30px;
}

.superpowers-details-card {
  margin-left: 20px;

  .superpower-name a {
    color: white;
    font-size: 18px;
    text-decoration: underline;
  }
}

.card-links {
  font-size: 13px;
  display: flex;
  justify-content: space-around;

  a {
    color: white;
  }
}

.transformation {
  background: $transformation;
}

.others {
  background: $others;
}

.superhuman {
  background: $superhuman;
}

.elemental {
  background: $elemental;
}

.imperceptible {
  background: $imperceptible;
}
