.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// ---------------------------------------------------------------------------------------------------------

.navbar-custom {
  background-color: $dirty-yellow;
  padding: 15px auto;
}

.navbar-buttons {
  display: flex;
  align-items: center;

  a {
    display: inline-block;
    margin-left: 10px;
  }

  p {
    margin: 0;
    padding: 0 5px;
  }
}

#search-button {
  background-color: $dirty-orange;
  margin-left: -7px;
  border-color: none;
  border: 0;
}

.nav-item {
  // border-radius: 8px;
  padding: 10px;
}
