.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// ---------------------------------------------------------------------------------------------------------

.navbar-custom {
  background-color: $dirty-yellow;
  padding: 5px 10px;
}

.navbar-brand {
  font-family: $comic-font;
  color: $dirty-red;
  font-size: 24px;
}

form {
  margin-left: 20px;
}

#navbarNav {
  margin-left: 30px;

  .nav-item {
    padding: 10px;
  }

  .nav-item > a {
    color: $muddy-font;
    font-family: $comic-font;
    font-size: 18px;
  }
}

.navbar-buttons {
  display: flex;
  align-items: center;

  a {
    display: inline-block;
    margin-left: 15px;
  }

  p {
    margin: 0;
    padding: 0 5px;
  }
}

#search-button {
  background-color: $dirty-orange;
  margin-left: -8px;
  border: 0;
}
